.style_normal {
	PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/point_h.gif) #666666 no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid
}
.style_normal A {
	FONT-SIZE: 12px
}
.style_normal A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.style_normal A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.style_normal A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_normal A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.style_selected {
	PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/point_x.gif) #666666 no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid
}
.style_selected A {
	FONT-SIZE: 12px
}
.style_selected A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.style_selected A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.style_selected A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_selected A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.style_top_normal {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ededed 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.style_top_normal A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.style_top_normal A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.style_top_normal A:hover {
	FONT-SIZE: 12px; COLOR: #990000; TEXT-DECORATION: none
}
.style_top_normal A:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.style_top_selected {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ededed 1px solid; COLOR: #990000; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.style_top_selected A {
	FONT-SIZE: 12px; COLOR: #990000
}
.style_top_selected A:link {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_selected A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_selected A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_selected A:active {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_pass1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/point_x.gif) #dedede no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #990000; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_top_pass1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.style_top_pass1 A:link {
	TEXT-DECORATION: none
}
.style_top_pass1 A:visited {
	TEXT-DECORATION: none
}
.style_top_pass1 A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_pass1 A:active {
	TEXT-DECORATION: none
}
.style_top_pass {
	PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-SIZE: 11px; BACKGROUND: url(../images/menu/point_h.gif) #dedede no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #990000; WORD-BREAK: break-all; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_top_pass A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.style_top_pass A:link {
	TEXT-DECORATION: none
}
.style_top_pass A:visited {
	TEXT-DECORATION: none
}
.style_top_pass A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_pass A:active {
	TEXT-DECORATION: none
}
.style_top_pass_select {
	PADDING-RIGHT: 2px; PADDING-LEFT: 15px; FONT-SIZE: 11px; BACKGROUND: url(../images/menu/point_h.gif) #dedede no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #990000; WORD-BREAK: break-all; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_top_pass_select A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.style_top_pass_select A:link {
	TEXT-DECORATION: none
}
.style_top_pass_select A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_pass_select A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_top_pass_select A:active {
	TEXT-DECORATION: none
}
.style_mid_normal {
	PADDING-RIGHT: 2px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid; BACKGROUND-COLOR: #ffffff
}
.style_mid_normal A {
	FONT-SIZE: 12px
}
.style_mid_normal A:link {
	TEXT-DECORATION: none
}
.style_mid_normal A:visited {
	TEXT-DECORATION: none
}
.style_mid_normal A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_normal A:active {
	TEXT-DECORATION: none
}
.style_mid_selected {
	PADDING-RIGHT: 2px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/point_h.gif) #f5f5f5 no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_mid_selected A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.style_mid_selected A:link {
	TEXT-DECORATION: none
}
.style_mid_selected A:visited {
	TEXT-DECORATION: none
}
.style_mid_selected A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_selected A:active {
	TEXT-DECORATION: none
}
.style_mid_selected_red {
	PADDING-RIGHT: 2px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #990000; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid; BACKGROUND-COLOR: #ffffff
}
.style_mid_selected_red A {
	FONT-SIZE: 12px
}
.style_mid_selected_red A:link {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_selected_red A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_selected_red A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_selected_red A:active {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_pass {
	PADDING-RIGHT: 2px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/point_x.gif) #f5f5f5 no-repeat 3px 7px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_mid_pass A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.style_mid_pass A:link {
	TEXT-DECORATION: none
}
.style_mid_pass A:visited {
	TEXT-DECORATION: none
}
.style_mid_pass A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_mid_pass A:active {
	TEXT-DECORATION: none
}
.style_bottom_normal {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/dot_black.gif) #fff no-repeat 17px 7px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ededed 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_bottom_normal A {
	FONT-SIZE: 12px
}
.style_bottom_normal A:link {
	TEXT-DECORATION: none
}
.style_bottom_normal A:visited {
	TEXT-DECORATION: none
}
.style_bottom_normal A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_normal A:active {
	TEXT-DECORATION: none
}
.style_bottom_selected {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 25px; FONT-SIZE: 11px; BACKGROUND: url(../images/menu/dot_black.gif) #fff no-repeat 17px 7px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ededed 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid; font-color: #990000
}
.style_bottom_selected A {
	FONT-SIZE: 12px
}
.style_bottom_selected A:link {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_selected A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_selected A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_selected A:active {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_normal1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/menu/add.gif) #fff no-repeat 15px 7px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_bottom_normal1 A {
	FONT-SIZE: 12px
}
.style_bottom_normal1 A:link {
	TEXT-DECORATION: none
}
.style_bottom_normal1 A:visited {
	TEXT-DECORATION: none
}
.style_bottom_normal1 A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_normal1 A:active {
	TEXT-DECORATION: none
}
.style_bottom_selected1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(img/add.gif) #ffffff no-repeat 15px 7px; PADDING-BOTTOM: 5px; COLOR: #990000; PADDING-TOP: 5px; BORDER-BOTTOM: #ededed 1px solid
}
.style_bottom_selected1 A {
	FONT-SIZE: 12px
}
.style_bottom_selected1 A:link {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_selected1 A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_selected1 A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.style_bottom_selected1 A:active {
	COLOR: #990000; TEXT-DECORATION: none
}
.a_btm_image {
	FONT-SIZE: 0px; BACKGROUND: url(../images/menu/m_bg_corner1.gif) no-repeat right bottom; MARGIN: 0px 0px 20px; LINE-HEIGHT: 0px; HEIGHT: 20px
}
.m_bg_corner {
	BACKGROUND: url(../images/menu/m_bg_corner.gif) #dedede no-repeat right top; BORDER-BOTTOM: #ffffff 1px solid
}
.m_bg_corner IMG {
	
}
.m_bg_corner SELECT {
	MARGIN: 4px 0px 4px 9px
}
.m_bg_corner1 {
	BACKGROUND: url(../images/menu/m_bg_corner.gif) #dedede no-repeat right top; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 20px
}
#menu {
	
}
.m_hide_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; TEXT-ALIGN: right
}
.m_hide_menu IMG {
	MARGIN: 0px 4px 2px 0px
}
